body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

.counter {
  font-size: 60px;
  height: 60px;
  line-height: 60px;
}

.board {
  cursor: pointer;
}

.container-fluid, body, html {
  height: 100%;
}

.game {
  height: 100%;
}

.green {
  background-color: #09ca4d;
}

.red {
  background-color: #d53736;
}

.blue {
  background-color: #3433d4;
}

.yellow {
  background-color: #f4c400;
}

.selected {
  opacity: 0.3 !important;
}

.green:active, .red:active, .blue:active, .yellow:active {
  opacity: 1;
}

.player .green:active, .player .red:active, .player .blue:active, .player .yellow:active {
  opacity: 0.3;
}

.settings {
  border: 1px solid #f0f0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #fdfdfd;
  padding: 30px;
  width: 300px;
}

.start, .reset, .strict {
  cursor: pointer;
}

.counter-label {
  padding-bottom: 20px;
}

.start-label, .reset-label {
  padding-bottom: 10px;
}

@media screen and (max-width: 450px){
  body {
    font-size: 12px;
  }

  .settings {
    width: 200px;
    height: 235px;
  }
}
